body#index{
  background-color: #FFFF66;
}
body#accom{
  background-color: #996633;
}
body#act{
  background-color: #993300;
}
body#trav{
  background-color: #0099CC;
}
body#pic{
  background-color: orange;
}

h1{
  text-align: center;
  font-family: fantasy;
}
h2{
  font-style: italic;

}
h3{
  font-variant: small-caps;
}

section {
  border: 3px solid red;
  float: right;
  width: 1220px;

}

nav {
  float: right;
  width: 1220px;

  border: 3px solid black;
}

li {
float: left;
padding: 8px;
display: block;
}
